/**
 * @name: datagrid
 * @overview: ���ܰ�ť���˵���ť
 * @author: ղΰ
 */
.ui-button {
	padding:0; 
	cursor:pointer;
    text-align: center;
    display:inline-block;
    zoom:1;
	outline:none;
    cursor:pointer;
    -khtml-user-select: none;
    -moz-user-select:none;
    vertical-align:middle;
	position:relative;
}
.ui-button-radius {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.ui-button{
	text-decoration:none;
	color:#333;	
}
.ui-button-disabled {
	cursor:default;
}
.ui-window-button-panel .ui-button {
	margin:0 5px;
}
.ui-button-bg{
	border:none;
	background: url(../images/btn/btn-bg.gif) left top no-repeat;
	display:inline-block;
	padding:0 0 0 2px;
	_padding:-1px 0px 0 2px;
	margin:0 5px 0 0;
}
.ui-button-em {
	line-height: 16px;
	height: 20px;
	padding:0px 0px 2px 0px;
	*padding:0px 1px 2px 0px;
	display:inline-block;
}
.ui-button-bg .ui-button-em {
	background: url(../images/btn/btn-bg.gif) right -22px no-repeat;
}
.ui-button-plain {
	background:transparent;
	border: none;
	display: inline-block;
	padding: 0 0 0 2px;
	margin:0 5px 0 0;
}
.ui-button-over {       
	background:url(../images/btn/btn-bg.gif) left -47px no-repeat; 
}
.ui-button-over .ui-button-em {
	background:url(../images/btn/btn-bg.gif) right -69px no-repeat; 
}
.ui-button-disabled {       
	background:url(../images/btn/btn-bg.gif) left -94px no-repeat; 
	cursor:default;
}
.ui-button-disabled .ui-button-em {
	background:url(../images/btn/btn-bg.gif) right bottom no-repeat; 
}
.ui-button-text {
	text-decoration:none;
    vertical-align:top;
    display:inline-block;
    padding:2px 5px 3px 5px;
    padding:4px 5px 1px 4px\9;
	_padding:4px 5px 0px 4px;
	white-space:nowrap;
	color:#333;
}
.ui-chooselist .ui-button-text{
	min-width:30px;
	text-align:center;
}
.ui-chooselist .ui-button-page .ui-button-text {
	min-width:0;
}
.ui-button-text-no {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 16px;
	height: 16px;
	top: 2px !important;
	left:-1px;	
}
.ui-button .ui-button-icon{ 
	position:relative;
	top:auto;
	left:auto;
	padding-left: 22px;
	background-position: 3px 50%;
	background-repeat: no-repeat;
}
.ui-button-disabled .ui-button-plain, .ui-button-disabled  .ui-button {
	cursor:default;
}
.ui-button-disabled .ui-button-plain-over, .ui-button-disabled .ui-button-over {
	border:1px solid transparent;
	_border-color:tomato; 
	_filter:chroma(color=tomato);
	background: transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}
.icon-search {
	background:url(../images/ico/search.gif) no-repeat; 
}
.icon-add {
	background:url(../images/ico/add.gif) no-repeat;
}
.icon-accept {
	background:url(../images/ico/accept.gif) no-repeat;
}
.icon-edit {
	background:url(../images/ico/edit.gif) no-repeat;
}
.icon-save {
	background:url(../images/ico/save.gif) no-repeat;
}
.icon-delete {
	background:url(../images/ico/delete.gif) no-repeat;
}
.icon-close {
	background:url(../images/ico/close.gif) no-repeat;
}
.icon-cancel {
	background:url(../images/ico/cancel.gif) no-repeat;
}
.icon-upload {
	background:url(../images/ico/upload.gif) no-repeat;
}
.icon-print {
	background:url(../images/ico/print.gif) no-repeat;
}
.icon-procedure {
	background:url(../images/ico/procedure.gif) no-repeat;
}
.icon-refresh {
	background:url(../images/ico/refresh.gif) no-repeat;
}
.icon-next {
	background:url(../images/ico/next.gif) no-repeat;
}
.icon-undo {
	background:url(../images/ico/undo.gif) no-repeat;
}
.icon-business {
	background:url(../images/ico/business.gif) no-repeat;
}
.icon-org {
	background:url(../images/ico/org.gif) no-repeat;
}
.icon-sort {
	background:url(../images/ico/desc.gif) no-repeat;
}
.icon-reset {
	background:url(../images/ico/reset.gif) no-repeat;
}
.icon-return {
	background:url(../images/ico/return.gif) no-repeat;
}
.icon-export {
	background:url(../images/ico/export.gif) no-repeat;
}
.icon-login {
	background:url(../images/ico/login.gif) no-repeat;
}
.icon-up{
	background:url(../images/ico/up.gif) no-repeat;
}
.icon-down {
	background:url(../images/ico/down.gif) no-repeat;
}
.ui-button-page .ui-button-text-no {
	display:inline-block;
	padding:0;
	width:16px;
	height:16px;
	top:2px !important;
	left:auto;
	background:url(../images/ico/page.gif) no-repeat;
}
.ui-button-page .icon-pagefirst {
	background-position:1px -26px;
}
.ui-button-page .icon-pageprev {
	background-position:left 1px;
}
.ui-button-page .icon-pagenext {
	background-position:left -12px;
}
.ui-button-page .icon-pagelast {
	background-position:left -41px;
}
.ui-button-page .icon-refresh {
	background-position:left -57px;
}
.ui-button-page-disabled .icon-pagefirst {
	background-position:-13px -26px;
}
.ui-button-page-disabled .icon-pageprev {
	background-position:-14px 1px;
}
.ui-button-page-disabled .icon-pagenext {
	background-position:-14px -12px;
}
.ui-button-page-disabled .icon-pagelast {
	background-position:-14px -41px;
}
.icon-arrow {
	background:url(../images/ico/arrow.gif) left top no-repeat;
	padding-right:2px;
	position: relative;
	top:0px;
	width: 12px;
	height: 21px;
	display:inline-block;
	zoom: 1;
	visibility:visible;
	vertical-align:middle;
}
.icon-arrow-right{
	padding-right:15px !important;
}
.ui-button-list {
	width: auto;
	min-width: 80px;
	height: auto;
	border: 1px solid #D0D0D0;
	background: #F0F0F0;
	position: absolute;
	top:auto;
	left:auto;
	z-index: 99999;
	overflow: hidden;
	zoom: 1;
	font-size: 12px;
}
.ui-button-list .ui-button-list-text {
	line-height:16px;
	padding:2px 18px;
	padding:4px 18px 1px \9;
	*padding:3px 18px 1px;
	_padding:4px 18px 1px
	vertical-align:middle;
	display:block;
	text-align:center;
}
.ui-button-list a {
	display:block;
	outline:0;
	text-decoration:none;
	color:#333;
	background: #f9f9f9;
	border-bottom:1px solid #f9f9f9;
}
.ui-button-list-over {
	background:#FFE7A2;
}
.ui-button-float { 
	display:inline-block; 
	*display:inline; 
	padding:0; 
	margin:0; 
	*margin-right:4px; 
	zoom:1; 
	clear:both; 
	overflow:hidden; 
	vertical-align: middle; 
	position:relative;
}
.ui-button-ico-top {
	background:#fff url(../images/btn/btn-icotop-bg.gif) left top no-repeat;
}
.ui-button-ico-top .ui-button-em {
	background:url(../images/btn/btn-icotop-bg.gif) right -41px no-repeat;
	height: 39px;
}
.ui-button-ico-top .ui-button-text {
	padding:22px 8px 0;
}
.ui-button-ico-top .ui-button-icon {
	background-position: 50% 4px;
}
.ui-button-ico-top-over {
	background:#fff url(../images/btn/btn-icotop-bg.gif) left -82px no-repeat;
}
.ui-button-ico-top-over .ui-button-em {
	background:url(../images/btn/btn-icotop-bg.gif) right -123px no-repeat;
}
.ui-button-ico-top-disabled {
	background:#fff url(../images/btn/btn-icotop-bg.gif) left -164px no-repeat;
	cursor:default;
}
.ui-button-ico-top-disabled .ui-button-em {
	background:url(../images/btn/btn-icotop-bg.gif) right bottom no-repeat;
}
.ui-button-disabled .ui-button-text, ui-button-plain .ui-button-text, .ui-button-ico-top-disabled .ui-button-text  {
	color:#999;
}
.ui-button-page{
	border:none;
	display:inline-block;
	padding:0;
}
.ui-button-page .ui-button-em {
	width:18px;
	height:20px;
	padding:0;
	margin:0;
}
.ui-button-page-over {
	background:none;
}
.ui-button-page-over .ui-button-em {
	background: url(../images/btn/btn-page-bg.gif) left 1px no-repeat;
}
.ui-button-page-disabled, .ui-button-page-disabled .ui-button-em{
	background:none;
	cursor:default;
}
/* datagrid cell button*/
.ui-datagrid-cell .ui-button {
	text-indent:0;
}
.ui-datagrid-cell .ui-button-bg {
	background:none;
	margin:0;
	padding:0;
}
.ui-datagrid-cell .ui-button-bg .ui-button-em {
	background:none;
	padding:0;
}
.ui-datagrid-cell .ui-button-bg .ui-button-em .icon-arrow {
	background: url(../images/ico/datagrid-arrow.gif) left top no-repeat;
}
/*解决老版1.3与1.5兼容页面下翻页按钮样式问题*/
body a:hover.ui-button-page {
	border:none;
}
