.ui-chooseuser-div {
    background-color: #eaf1f9;
    border: 1px solid #AFCFDD;
    height: 240px;
    padding-left: 12px;
}
.ui-chooseuser-l-div1 {
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
    width: 15%;
	padding-right:5px;
}
.ui-chooseuser-l-div2 {
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
    width: 30%;
}
.ui-chooseuser-l-div3 {
    display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
    width: 40px;
	margin:0 10px;
    padding-top: 73px;
}
.ui-chooseuser-l-div4 {
    display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
    width: 30%;
}
.ui-chooseuser-l-div5 {
    display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
    width: 5%;
	padding: 100px 5px 0;
	text-align: center;
	margin: 0 auto;
}
.ui-chooseuser-title {
    font-size: 12px;
    color: #73b4d2;
    font-weight: bold;
    width: 100%; 
    height: 54px;
    line-height: 54px;
}
.ui-chooseuser-select {
    width: 90%;
    display: block;
}
.ui-chooseuser-btn {
    border: 1px solid #8f98a7;
    background: #8f98a7 url(../images/btnbg.gif) repeat-x;
    margin: 0 5px;
    padding: 0 15px;
    display: block;
    float: left;
    color: #0A2A43;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    _line-height: 22px;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 45px;
}
.ui-chooseuser-btn-cllc {
    text-transform: uppercase;
    border: 1px solid #eaf1f9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 96px;
    height: 42px;
    width: 51px;
    background: #eaf1f9 url(../images/culiliucheng.jpg) repeat-x;
    cursor: pointer-x;
}
.ui-chooseuser-multiple {
    width: 90%; 
    height: 141px;
}
.ui-chooseuser-tree {
    width: 100%;
    height: 138px;
    background-color: #FFF;
    border: 1px solid #98C0F4;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    max-height: 138px; 
}
.ui-chooseuser-l-div4 select {
    height: 141px
}
.ui-chooseuser-l-div5 input {
    border: 1px solid #EAF1F9;
    height: 42px;
    margin-top: 96px;
}
.form dd div .ui-chooseuser-l-div3 {
    /*padding-top: 73px;*/
	position:relative;
	top:73px;
}
.ui-chooseuser-l-div3 .ui-button {
	margin-bottom:5px;
}
.ui-chooseuser-tree .ui-tree-panel {
	overflow:auto
}
