.ui-select-tree {
	position:absolute;
	border:1px solid #98C0F4;
	background:#fff;
	border-top:none;
}
.ui-tree-panel {
	background:#fff;
	overflow:auto;
}
.ui-select-tree .ui-tree-panel {
	overflow:visible;
}
.ui-tree {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.ui-tree li {
	/* cursor: pointer; */
	white-space:nowrap;
	border: none;
}
.ui-tree span {
	vertical-align:middle;
	margin:0 3px 0 0;
}
.ui-form-table .ui-tree li span {
	line-height:18px;
}
.ui-tree-node {
	white-space: nowrap;
	height:20px;
}
.ui-tree-node .ui-tree-content {
	display:inline-block;
	cursor: pointer;
	padding:1px;
}
.ui-tree-over {
	background: #EFEFEF;
	border: 1px #8FB1DB solid;
	padding:0 !important;
}
.ui-tree-selected, .ui-tree-over {
	background:url(../images/tree/tree-over-bg.gif) repeat-x;
	_background-image: none;
	_background-color:#DAE5FD;
	border: 1px #8FB1DB solid;
	padding:0 !important;
}
.ui-tree-text {
	text-decoration:none;
	white-space: nowrap;
	color:#333;
	padding:0 3px 0 0;
}
.ui-line {
	background:url(../images/tree/line.gif) repeat-y left 1px;
}
.ui-tree .ui-line {
	margin: 0;
	padding: 0 0 0 18px;

}
.ico-checkbox, .ico-checkbox-over, .ico-checkbox-disabled, .ico-checkbox-checked, .ico-checkbox-checked-over, .ico-checkbox-checked-disabled, .ico-checkbox-half, .ico-checkbox-half-over, .ico-checkbox-checked-half, .ico-checkbox-checked-half-over, .ico-radio, .ico-radio-over, .ico-radio-disabled, .ico-radio-checked, .ico-radio-checked-over, .ico-radio-checked-disabled, .ico-radio-half, .ico-radio-half-over, .ico-radio-checked-half, .ico-radio-checked-half-over {
	display: inline-block;
	width:13px;
	height:14px;
	vertical-align:middle;
	padding:0;
	overflow:hidden;
	background: url(../images/ico/label.gif) no-repeat;
}
.ico-checkbox {
	background-position:left 1px;
}
.ico-checkbox-checked {
	background-position:-14px 1px;
}
.ico-checkbox-over {
	background-position:left -16px;
}
.ico-checkbox-disabled {
	background-position:left -67px;
}
.ico-checkbox-checked-over {
	background-position:-14px -16px;
}
.ico-checkbox-checked-disabled {
	 background-position:-14px -67px;
}
.ico-checkbox-half {
	background-position: left -33px;
} 
.ico-checkbox-half-over {
	background-position: left -50px;
} 
.ico-checkbox-checked-half {
	background-position: -14px -33px;
} 
.ico-checkbox-checked-half-over {
	background-position: -14px -50px;
}
.ico-radio {
	background-position:-28px 1px;
}
.ico-radio-checked {
	background-position:-42px 1px;
}
.ico-radio-over {
	background-position:-28px -16px;
}
.ico-radio-disabled {
	background-position:-28px -67px;
}
.ico-radio-checked-over {
	background-position:-42px -16px;
}
.ico-radio-checked-disabled {
	 background-position:-42px -67px;
}
.ico-radio-half {
	background-position: -28px -33px;
} 
.ico-radio-half-over {
	background-position: -28px -50px;
} 
.ico-radio-checked-half {
	background-position: -42px -33px;
} 
.ico-radio-checked-half-over {
	background-position: -42px -50px;
}
.ico-folder-close, .ico-folder-open, .ico-folder-close, .ico-file, .ico-node-open, .ico-node-open-first, .ico-node-open-last, .ico-node-close, .ico-node-close-first, .ico-node-close-last, .ico-node-open-end, .ico-node-close-end, .ico-line, .ico-node, .ico-node-last, .ico-edit, .ico-delete, .ico-go {
	background: url(../images/ico/tree.gif) no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;
}
.ico-line, .ico-node, .ico-node-last{
	height:20px;
}
.ico-folder-close {
	background-position: -54px -1px;
	background-position: -54px -2px \9;
}
.ico-folder-open {
	background-position: -54px -21px;
	background-position: -54px -22px \9;
}
.ico-file {
	background-position: -52px -41px;
	background-position: -52px -42px \9;
}
.ico-edit {
	background-position: -52px -62px;
	background-position: -52px -63px \9;
}
.ico-delete {
	background-position: -52px -83px;
	background-position: -52px -84px \9;
}
.ico-go {
	background-position: -52px -102px;
	background-position: -52px -103px \9;
}
.ico-node-open {
	background-position: 0 -159px;
}
.ico-node-open-first {
	background-position: 0 -128px;
}
.ico-node-open-last {
	background-position: 0 -193px;
}
.ico-node-close {
	background-position: 0 -46px;
}
.ico-node-close-first {
	background-position: 0 -20px;
}
.ico-node-close-last {
	background-position: 0 -73px;
}
.ico-node-close-end {
	background-position: 0 0;
}
.ico-node-open-end {
	background-position: 0 -98px;
}
.ui-tree-indent {
	background: none;
}
.ico-line {
	background-position: 0 -223px;
}
.ico-node {
	background-position: 0 -252px;
}
.ico-node-last {
	background-position: 0 -283px;
}
.ui-tree .ui-checkbox, .ui-tree .ui-radio {
	display:inline-block;
	width:16px;
	height:15px;
	vertical-align:middle;
}
.ui-tree label {
	display:block;
}
/* �������� */
/*.ui-tree-noline {}*/
.ui-tree-noline .ico-line, .ui-tree-noline .ico-node, .ui-tree-noline .ui-line, .ui-tree-noline .ico-node-last {
	background:none;
}
.ui-tree-noline .ico-node-open-first, .ui-tree-noline .ico-node-open, .ui-tree-noline .ico-node-open-last, .ui-tree-noline .ico-node-open-end {
	background-position:-25px -20px;
}
.ui-tree-noline .ico-node-close, .ico-node-close-first, .ui-tree-noline .ico-node-close-last, .ui-tree-noline .ico-node-close-end {
	background-position:-25px 0;
}
.ui-tree-button {
	text-align:center;
	margin:5px auto;
}
.ui-tree-button .ui-button-text {
	width:40px;
}
.ui-line-no {
	background:none;
}