.chkfloatleft{float:left}
.ckbinline1 .inline{width:100%;float: left;}
.ckbinline2 .inline{width:50%;float: left;}
.ckbinline3 .inline{width:33.3%;float: left;}
.ckbinline4 .inline{width:25%;float: left;}
.ckbinline5 .inline{width:20%;float: left;}
.ckbinline6 .inline{width:16.6%;float: left;}
.ckbinline7 .inline{width:14.2%;float: left;}
.ckbinline8 .inline{width:12.5%;float: left;}
.ckbinline9 .inline{width:11%;float: left;}
.ckbinline10 .inline{width:10%;float: left;}
.ckbinline11 .inline{width:9%;float: left;}
.ckbinline12 .inline{width:8.3%;float: left;}
.ckbinline13 .inline{width:7.6%;float: left;}
.ckbinline14 .inline{width:7.1%;float: left;}
.ckbinline15 .inline{width:6.6%;float: left;}
.ckbinline16 .inline{width:6.2%;float: left;}
.ckbinline17 .inline{width:5.8%;float: left;}
.ckbinline18 .inline{width:5.5%;float: left;}
.ckbinline19 .inline{width:5.2%;float: left;}
.ckbinline20 .inline{width:5%;float: left;}
.ckbinline .inline{float: left;}

