    @charset "utf-8";
    * {
        padding: 0;
    }
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, th, td {
        margin: 0;
        padding: 0;
    }
    html, body {
        font-family: Tahoma, Arial, "宋体";
        font-size: 12px;
    }
    input[type="radio"] {
        font-size: 12px;
        color: #075586;
        margin: 0 5px;
        border: 0;
    }
    input[type="checkbox"] {
        font-size: 12px;
        color: #075586;
        margin-left: 5px;
        margin-right:5px;
    }
    input[type="select"] {
    }
    input[type="password"] {
        border: 1px solid #A0BCD4;
        padding: 0;
        color: #0A2D4B;
        height: 18px;
    }
    input, lable {
        vertical-align: middle;
    }
    /*
     * input样式
     * */
    .input {
        border: 1px solid #A0BCD4;
        padding: 2px 0px 0pt 3px;
        color: #0A2D4B;
        height: 18px;
    }
    /*button样式*/
    .button {
        border: 1px solid #D0E1E6;
        background: #F2F9FC url(../images/btnbg.gif) repeat-x;
        margin: 5px;
        padding: 0 15px;
        display: block;
        float: left;
        color: #0A2A43;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: normal;
        height: 22px !important;
        line-height: 22px !important;
        _line-height: 22px !important;
        cursor: pointer;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }
    .button_nofloat, .button_inline {
        float: none;
        border: 1px solid #B1D0F7;
        background: #F2F9FC url(../images/btnbg.gif) repeat-x;
        margin: 0 5px;
        padding: 0 15px;
        color: #0A2A43;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: normal;
        height: 22px !important;
        line-height: 22px !important;
        _line-height: 22px !important;
        cursor: pointer;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }
    .button_inline {
        display: inline;
    }
    /*
     * file  按钮样式
     * */
    .file {
        color: #0A2A43;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: normal;
        height: 22px;
        line-height: 22px;
        _line-height: 22px;
        cursor: pointer;
    }
    .label {
        font-size: 12px;*
        line-height: 18px;
    }
    /*textarea*/
    textarea {
        border: 1px solid #A0BCD4;
        line-height: 20px;
        font-size: 12px;
    }
    /*
     * linkageselect样式
     * */
    .linkagecentact {
        width: 87%;
        height: 200px;
        float: left;
        overflow: hidden;
        position: relative;
        top: 5px;
    }
    .body1 {
        width: 600px;
        height: 200px;
        margin: 0 5px;
        overflow: hidden;
        position: absolute;
        left: 0
    }
    .linkageselect {
        width: 108px;
        overflow: hidden;
        float: left
    }
    .linkageselect select {
        width: 103px;
        height: 190px;
        border: 1px solid #A0BCD4;
    }
    .leftBtn {
        float: left;
        position: relative;
        width: 24px;
        height: 200px;
        cursor: pointer;
        display: block;
        background: url(../images/left.gif) center center no-repeat;
    }
    .rightBtn {
        float: left;
        position: relative;
        width: 24px;
        height: 200px;
        cursor: pointer;
        display: block;
        background: url(../images/right.gif) center center no-repeat;
        display: block;
    }
    /*
     * 表格样式
     * */
    .table {
        border-collapse: collapse;
        color: #0E2C44;
        line-height: 25px;
        margin: 0 5px 5px 0;
        table-layout: fixed;
    }
    /* 
     * 表格单元格  第一行标题样式  
     * */
    .table th {
        text-align: right;
        background-color: #F3F7FA;
        border: 1px #D6E2F2 solid;
        padding: 0 5px; 
        font-weight: normal;
        white-space: nowrap;
        color: #075587;
        /*table-layout:fixed;*/
    }
    .table td {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #fff;
        border-collapse: collapse;
        border: 1px solid #D6E2F2;
        color: #075587;
    }
    /*
     * 链接样式
     * 
    a {
        text-decoration: none; 
        color: #075587;
    }
    a:hover {
        text-decoration: underline;
        color: red;
    }*/
    .clock {
        font-size: 12px;
    }
    /*
     * 错误提示
    
    .error {
        background: url(../images/wavy-lines.gif) repeat-x left bottom;
        height: 19px;
    } * */
    .error-msg {
        background-color: #f63;
        color: #fff;
        padding: 0 2px;
        line-height: 130%;
    }
    /*
     * div 排成一行
     * */
    div.inline {
        display: inline;
    }
    /*
     * 红色*号
     * */
    .redrequires {
        color: #f00;
        font-weight: bold;
    }
    /*
     * 位置
     * */
    .floatleft {
        float: left;
    }
    .floatright {
        float: right;
    }
    .textright {
        text-align: right !important;
    }
    .textcenter {
        text-align: center !important;
    }
    .margin-btn {
        padding: 4px 8px;
    }
    /*
     * addQueryItemBtn
     * */
    .addQueryItemBtn {
        padding: 4px;
    }
    /*
     * 优先级
     * */
    .btn, .btn_edit, .btn_search, .btn_add, .btn_save, .btn_ok, .btn_close, .btn_return, .btn_reset, .btn_export, .btn_delete {
        width: auto !important;
        height: 22px !important;
    }
	/*
     * pre标签专用
     * */
    .pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
