@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td,hr {margin:0;padding:0;}
body {font:12px "微软雅黑","宋体",Arial, Helvetica, sans-serif}
html{_background:url(about:blank); }/* 阻止闪动 in IE6 , 把空文件换成about:blank , 减少请求 */
table {border-spacing:0;*border-collapse:collapse;}
fieldset,img,a img {border:none;}
abbr,acronym {border:none;font-variant:normal; border-style:groove}
ins {text-decoration:none;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight:bold;}
q:before,q:after {content:'';}
/*a {blr:expression(this.onFocus=this.blur());}*/
a {outline:none; cursor:pointer;}
/* for Firefox */
input[type=submit]::-moz-focus-inner,input[type=button]::-moz-focus-inner{
  border : 0px;
}
/* for IE8 */
input[type=submit]:focus, input[type=button]:focus{
  outline : none;
}
a:-webkit-any-link {
	color: #9ABCE9;
	text-decoration: none;
	cursor: auto;
}
a:-webkit-any-link:active {
	color: #9ABCE9;
}

