    @charset "utf-8";
	
    /*
     * 日历控件弹出窗口div样式
     * */
    .datepicker-div {
        background: #fff;
        border: 1px solid #FFC4A2;
        color: #333;
        margin: 1px 0 0;
        width: 190px;
    }
	/*
     * 日历控件input样式
     * */
    .datepicker-input {
        background: url(../images/calendar.gif) right center no-repeat;
        border: 1px solid #A0BCD4;
        cursor: pointer;
        height: 18px !important;
        _height: 16px !important;
        color:#333 !important;
    }
	/*
     * 日历控件弹出窗口header div样式
     * */
    .datepicker-header {
        background: #FF6455 url(../images/datepicker.gif) repeat-x 0 0;
        color: #fff;
        font: bold 13px/26px Arial, "微软雅黑";
        height: 26px;
        position: relative;
        text-align: center;
    }
    .datepicker-hiden {
        display: none;
    }
    .datepicker-header a {
        height: 12px;
        position: absolute;
        top: 6px;
        width: 12px;
    }
	/*
     * 日历控件弹出窗口 时钟table样式
     * */
    .datepicker-times-select .table {
        border-bottom-width: 0;
        font: 11px/14px Arial;
        padding: 0;
        margin: 0;
        table-layout: fixed;
        width: 100%;
    }
    .datepicker-times-select .table td {
		border:1px solid #eee;
        padding: 0;
        margin: 0;
        text-align: center;
    }
	/*
     * 日历控件弹出窗口header 选择年月图标样式
     * */
    .datepicker-year-prev {
        background: url(../images/datepicker-ico.gif) 24px -54px;
        cursor: pointer;
        text-indent: -99999px;
        overflow: hidden;
        left: 5px;
    }
    .datepicker-year-next {
        background: url(../images/datepicker-ico.gif) 12px -54px;
        cursor: pointer;
        text-indent: -99999px;
        overflow: hidden;
        right: 5px;
    }
    .datepicker-month-prev {
        background: url(../images/datepicker-ico.gif) 0 -54px;
        cursor: pointer;
        text-indent: -99999px;
        overflow: hidden;
        left: 20px;
    }
    .datepicker-month-next {
        background: url(../images/datepicker-ico.gif) 36px -54px;
        cursor: pointer;
        text-indent: -99999px;
        overflow: hidden;
        right: 20px;
    }
	/*
     * 日历控件弹出窗口　日期table样式
     * */
    .datepicker-table {
        color: #0E2C44;
        font-size: 11px/21px Verdana, Arial, sans-serif;
        margin: 0;
        table-layout: fixed;
        border:none;
        width: 100%;
    }
    .datepicker-table thead{
    	border:none;
    }
	/*
     * 日历控件弹出窗口 日期table第一行标题样式
     * */
    .datepicker-table th {
        color: #C10000;
        font-weight: normal;
        white-space: nowrap;
        text-align: center;
		background: #FFECE8;
		border: none;
		border-top: 1px solid #FF3C1A;
		border-bottom: 1px solid #FF3C1A;
		font-size: 12px;
		font-weight: normal;
		padding:3px 0;
		height:20px;
		line-height:20px;
    }
	/*
     * 日历控件弹出窗口 日期table td样式
     * */
	/*
     * 日历控件弹出窗口 日期table td样式
     * */
    .datepicker-table td {
		background: #fff;
		border-collapse: separate !important;
        color: #C10000;
        padding:2px 0;
        border:none;
        text-align: center;
        font-weight: normal;
        height:auto !important;
    }
	/*
     * 日历控件弹出窗口 日期table td 链接字样式
     * */
    .datepicker-table td a:link, .datepicker-table td a:visited {
        background: #fff;
    }
    .datepicker-table td a:hover, .datepicker-table td a:active {
        font-weight:bold;
        color:#ff663a;
    }
	/*
     * 日历控件弹出窗口 日期table td样式
     * */
    .datepicker-table td a {
        color: #444;
        text-decoration: none;
    }
     .datepicker-table td.highlight{
    	background:#FFE7A2;
    }
    .datepicker-table td.highlight a {
        color: #ff663a;
        font-weight: bold;
    }
	/*
     * 日历控件弹出窗口 日期table 当前日期的样式
     * */
    .datepicker-table td.hightlight:hover, .datepicker-table td.hightlight:active {
        color: #ff663a;
        font-weight: bold;
    }
	/*
     * 日历控件弹出窗口 日期table td灰色背景样式
     * */
    .datepicker-table td.gray {
        background: #f0f0f0;
        color: #777;
    }
    .datepicker-table td.gray:link, .datepicker-table td.gray:visited, .datepicker-table td.gray:hover, .datepicker-table td.gray:active {
        color: #777;
        cursor: default;
        text-decoration: none;
        background: #ccc;
    }
	/*
     * 日历控件弹出窗口 日期table td白色背景样式
     * */
    .datepicker-table td.whitebg {
        background: #fff;
    }
    .datepicker-table td.whitebg:link, .datepicker-table td.whitebg:visited, .datepicker-table td.whitebg:hover, .datepicker-table td.whitebg:active {
        background: #fff;
        text-decoration: none;
    }
    .datepicker-table td.whitebg:hover {
        font-weight: bold;
        color:#ff663a;
    }
	/*
     * 日历控件弹出窗口 button div样式
     * */
    .datepicker-btndiv {
        background: #E7EFFE url(../images/datepicker-btndiv-bg.gif) repeat-x;
        padding: 2px 0;
        text-align: right;
        border-top: 1px solid #FFC4A2;
    }
	/*
     * 日历控件弹出窗口 table基础样式
     * */
    td, th {
        /*cursor: pointer;*/
        display: table-cell;
        vertical-align: inherit;
    }
    .datepicker-div .table {
        margin: 0;
        padding: 0;
        width: 100%;
    }
	/*
     * 日历控件弹出窗口 时钟div样式
     * */
    .datepicker-footer {
        background: #FFF3F0;
        color: #444;
        font-size: 12px/24px Verdana, Arial, "宋体";
        height: 24px;
        /*position:relative;*/
        text-align: center;
        vertical-align: middle;
    }
    /*
     * 日历控件弹出窗口 时钟选择图标样式
     * */
    .datepicker_arrowtop {
        background: url(../images/icon_arrowtop.gif) no-repeat center center;
        border: none;
        display: inline-block;
        height: 16px;
        vertical-align: middle;
        width: 18px;
    }
    .datepicker_arrowdown {
        background: url(../images/icon_arrowdown.gif) no-repeat center center;
        border: none;
        display: inline-block;
        height: 16px;
        vertical-align: middle;
        width: 18px;
    }
