	@charset "utf-8";
	.loading_alphadiv {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=40);
	opacity: .4;
	-moz-opacity: .4;
	-khtml-opacity: .4;
}
	.loading-shows {
		background: #98cbee url(../images/loadingbg.gif) repeat-x;
		border: 1px solid #bb0500;
		color: #fff;
		display: block;
		font: bold 12px/14px Verdana, Arial, Helvetica, sans-serif, "宋体";
		letter-spacing: -2px;
		height: 14px;
		margin: 8px 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	.loading-text {
		border: none;
		color: #c20c0c;
		text-align: center;
		width: 100%;
	}
	
	.loadingdiv {
	    text-align: center;
		vertical-align: middle;
	}
	.loadingdiv span {
		background: url(../images/loading.gif) no-repeat;
		display: inline-block;
		height: 40px;
		margin-right: 8px;
		width: 40px;
		vertical-align: middle;
	}
	.loadingdiv input {
		border: none;
	    color: #c20c0c;
		font: normal 12px/18px Arial, Helvetica, sans-serif, "宋体";
		margin: 0 8px 0 0;
	    text-align:left;
		vertical-align: middle;
	}
.progressbar {
		border: 1px solid #6594CF;
		background:#EFF4FF;
		width: 300px;
		height: 18px;
		position: relative;
		-moz-box-shadow: 1px 1px 2px #aeaeae;
		-webkit-box-shadow: 1px 1px 2px #aeaeae;
		box-shadow: 1px 1px 2px #aeaeae;
	}
	.progressbar_gradient {
		width: 1%;
		height: 18px;
		position: absolute;
		background: none;
		background-color: #73A3E0;
		background:url(../images/progressbar-bg.gif) repeat-x!important;
	    background:linear-gradient(#b2ccee, #5e96db)!important;
		background:-webkit-gradient(linear, 0 0, 0 bottom, from(#b2ccee), to(#5e96db)) !important;
	    background:-moz-linear-gradient(#b2ccee, #5e96db) !important;
	}
	.progressbar_text {
		color: #075587;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		text-align: center;
		overflow: hidden;
		position: absolute;
		width: 300px;
}
