    @charset "utf-8";
	
	/*
     * 消息框控件header div样式
     * */
	.messageboard_header {
        background:url(../images/messageboard.gif) repeat-x 0 -40px; 
		border:1px solid #f2b1af;
		border-top:1px solid #bc361b;
    	height:30px;
    }
    .messageboard_header span {
		background:url(../images/messageboard.gif) no-repeat left 0;
		color:#d43a00;
    	display:block;
    	font:bold 12px/30px "宋体";
    	text-indent:32px;
		width:90%;
    }
    /*
     * 消息框控件内容 div样式
     * */
    .messageboard_content {
    	background:#fff;
        border-left:1px solid #f2b1af;
		border-right:1px solid #f2b1af;
    	padding:0 2px;
    }
    .messageboard_content ul {
    	background:#fff;
		height:auto;
		list-style: none;
    }
    .messageboard_content li {
    	background:#fff;
    	border-bottom:1px solid #f7f7f7;
    	font:12px/26px "宋体";
		height:26px;
		float:none;
    	padding:0 12px;
    	table-layout:fixed;
    	white-space:nowrap;
    }
    .messageboard_content li div {
    	display:inline;
    	overflow:hidden;
    	text-overflow:ellipsis;
    }
    .messageboard_content li div span {
    	color:#999;
    	float:right;
    	font-family:Arial, Helvetica, sans-serif, "宋体";
    	overflow:hidden;
    	text-overflow:ellipsis;
    	width:30%;
    }
	/*
     * 消息框控件链接字样式
     * */
	.messageboard_content li a {
	    color:#333;
		line-height:26px;
	}
	.messageboard_content li a:link, .messageboard_contentli a:visited {
	    background:#fff;
    	color:#333;
		text-decoration:none;
    }
    .messageboard_content li a:hover, .messageboard_content li a:active {
    	background:#fff;
    }
    /*
     * 消息框控件footer div样式
     * */
    .messageboard_footer {
        background:#fff;
		border:1px solid #f2b1af;
		border-top:0;
    	clear:none;
    	cursor:pointer;
    	height:26px;
    }
    .messageboard_footer a {
        background:#fff;
    	float:right;
    	font:10px/26px Verdana, "宋体";
    	padding:0 12px;
    	text-align:right;
		width:50%;
    }
